<!DOCTYPE html>
<html>
<head>
    <title>Se connecter</title>
</head>
<body>
    <h1>Se connecter</h1>
    {% if form.errors %}
        <p style="color: red;">Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer.</p>
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p><label for="id_username">Nom d'utilisateur:</label> <input type="text" name="username" id="id_username"></p>
        <p><label for="id_password">Mot de passe:</label> <input type="password" name="password" id="id_password"></p>
        <input type="submit" value="Se connecter">
        <input type="hidden" name="next" value="{{ request.GET.next }}">
    </form>
    <p><a href="{% url 'password_reset' %}">Mot de passe oublié ?</a></p>
</body>
</html>